@import "../utilities/mixins";
@import "../utilities/variables";
.correct{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url("../../assets/img/fondo-halloween.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

}
.header {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &_title{
    width: 90%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 9.6px;
    -webkit-text-stroke: 1.5px #000; 
    margin: 10px auto;
  }
}