@import "../utilities/mixins";
@import "../utilities/variables";
.home{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.header {
  margin: 20px auto;
  margin-top: 20px;
  width: 90%;

  &_title{
    width: 95%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 9.6px;
    -webkit-text-stroke: 1.5px #000; 
    margin: 10px auto;
    margin-top: 50px
  }
}
.container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  
  &_texto_no-dejes{
    width: 40%;
  }
  &_murcielagos {
    max-width: 130px;
    max-height: 100%;
    object-fit: cover;
    margin: 10px;
  }
  &_texto-no-dejes{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    width: 50%;
    -webkit-text-stroke: 0.3px #000; 
  }
  &_texto-manda-selfi{
    width: 90%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin: 20px auto;
    -webkit-text-stroke: 0.3px #000; 
    text-align: left;
  }
}

.container-down{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 40px auto;
  // margin-top: 40px;

  &_button{
    width: 170px;
    font-size: 30px;
    border-radius: 50px;
    border: 2px solid #000;
    background: $orange;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.50);
    padding: 5px 10px;
    margin: 10px;
  }
  &_calabaza{
    width: 115px;
    height: 115px;
    margin: 10px;
  }
}